<h1>Let's Add Some Pets!!</<1>
	<div ng-controller = "addController">
     <form>
			 <div>Pet Name:<input type = "text" ng-model = "name" placholder = "Pet Name"></div><br>
			 <div>Pet Type:  <input type = "text" ng-model = "animal" placholder = "Pet Type"></div><br>
			 <div>Pet Age:   <input type = "number" ng-model = "age" placholder = "Pet Age"></div><br>
			 <div>Pet Pic:   <input type = "text" ng-model = "imageurl" placholder = "Pet Photo URL"></div>
			 <button ng-click="addPet()">Submit</button>
		 </form>
	</div>
